

/* header */

#header{
    height: 56px;
}

.fa-bell{
    color: #ff8f00;
}

.fa-question{
    color: aliceblue;
    background-color: #5c5959;
    padding: 5px 7px;
    font-size: 12px;
}

.barra-di-ricerca{
    background-color: #e5e5e5;
}

/* main-section */

.main-section{
    height: calc(100vh - 56px);;
}


/* left-bar */

#left-bar{
    height: calc(100vh - 56px);
    width: 150px;
    background-color: #051e34;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow:auto
}

.research-list{
    color: aliceblue;
}


ul{
    list-style: none;
    padding-left: 20px;
}

.research-list li{
    padding: 10px 0;
    font-size: 1.2rem;
}

.research-list span{
    margin-left: auto;
}

 a{
    text-decoration: none;
    color: currentColor;
}

.admim{
    color: aliceblue;
    padding-left: 20px;
    font-size: 1.2rem;
    margin-top: auto;
    
}

/* right-section */

#right-section{
    height: calc(100vh - 56px);
    width: calc(100vw - 150px);
}

/* top-blue-bar */

#top-blue-bar{
   color:aliceblue;
    height: 150px;
    background-color: #1b72e8;
}

#top-blue-bar h1{
    margin-bottom: 0;
}

#top-blue-bar span{
    background-color:#165bba ;
    font-size: 13px;
}

.margin-bottom{
    margin-bottom: 0;
}


/* main-content */

#main-content{
  padding: 15px;
  overflow: scroll;
  height: calc(100% - 150px);
}


/* prossime classi */

.prossime-classi{
    border: 2px solid rgba(0, 0, 0, 0.434);
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    height: 60%;
}

.titolo-prossime-classi{
    background-color: #f7f7f7;
    
}

.prima-cella i{
    background-color:#f26551 ;
    color: aliceblue;
    padding: 5px;
}

.table .color-text{
    background-color:#1b8855 ;
    color: aliceblue;
    padding: 3px;
    
}

.ROI,
.Data-inizio,
.Azioni{
    width: 10%;
}

.Stato{
    width: 15%;
}

/* FAQ */

.faq{
    border: 2px solid rgba(0, 0, 0, 0.434);
    border-radius: 15px;
    font-size: 12px;
    
}

.titolo-faq h2{
    font-size: 1.6rem;
}

.titolo-faq{
    background-color: #f7f7f7;

}

/* left-main-content  */

/* todo */


.todo{
    border: 2px solid rgba(0, 0, 0, 0.334);
    border-radius: 15px;
    font-size: 12px;
    background-color: rgb(254, 254, 254);
}

.titolo-todo{
    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.351) ;
}

.todo h2{
    font-size: 1.6rem;
}

.checkbox{
    border: 1px solid rgba(0, 0, 0, 0.368) ;
    border-radius: 10px;
}

.checkbox-line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.351) ;
    font-size: 14px;
    
}

/* Utenti-attivi */

.Utenti-attivi{
    border: 1px solid rgba(0, 0, 0, 0.368) 
}


.grafico{

    border: 1px solid rgba(0, 0, 0, 0.368)
}


.grafico-img img{
    width: fit-content;
}

.grafico-descrizione p{
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.368)
}

.grafico-descrizione a{
    font-size: 12px;
    color:#0569fd ;
    text-decoration: underline;
}